body
{
    background: #ff88ff;
    background: -webkit-linear-gradient(to right, #6175bd, #ff88ff);
    background: linear-gradient(to right, #6175bd, #ff88ff);
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.student-profile .card
{
    border-radius: 10px;
}
